{% extends "app/layout.html" %} {% block content %}
<section class="content-header">
    <h1>
        文章管理
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'index' %}">
                <i class="fa fa-dashboard"></i> 首页</a>
        </li>
        {% if type == 'drafts' %}
        <li>
            <a href="{% url 'blog_index' %}"> 文章管理</a>
        </li>
        <li>
            <a href="{% url 'blog_drafts' %}"> 草稿箱</a>
        </li>
        <li>
            <a href="{% url 'blog_detail' %}?id={{fid}}&type={{type}}"> 编辑草稿</a>
        </li>
        {% elif type == 'page' %}
        <li>
            <a href="{% url 'page_index' %}"> 页面管理</a>
        </li>
        <li>
            <a href="{% url 'blog_detail' %}?id={{fid}}&type={{type}}"> 编辑页面</a>
        </li>
        {% elif type == 'published' %}
        <li>
            <a href="{% url 'blog_index' %}"> 文章管理</a>
        </li>
        <li>
            <a href="{% url 'blog_detail' %}?id={{fid}}&type={{type}}"> 编辑文章</a>
        </li>
        {% endif %}
    </ol>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs  pull-right">
            <li class="active">
                <a href="#content" data-toggle="tab">内容</a>
            </li>
            {% if type == 'published' or type == 'drafts' %}
            <li>
                <a href="#tags" data-toggle="tab">标签&分类</a>
            </li>
            {% endif %}
            <li>
                <a href="#settings" data-toggle="tab">设置</a>
            </li>
            <li class="pull-left header"> 编辑 -
                <span id='ptitle'>{{pinfo.0}}</span>
            </li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="content">
                <div id="editormd">
                    <textarea style="display:none;">{{text}}</textarea>
                </div>
            </div>
            {% if type == 'published' or type == 'drafts' %}
            <div class="tab-pane" id="tags">
                <table width="100%">
                    <td width="49%" valign="top">
                        <table id="alltag" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>标签</b> <small>(<a href="javascript:showaddtag()">添加</a>)</small>
                                    </td>
                                </tr>
                                {% for row in tags %}
                                <tr id="{{row}}">
                                    <td>{{row}} (<a href="javascript:checkdeltag('{{row}}')" style="color:red;">删除</a>)</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td width="2%"></td>
                    <td width="49%" valign="top">
                        <table id="allcate" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>分类</b> <small>(<a href="javascript:showaddcate()">添加</a>)</small>
                                    </td>
                                </tr>
                                {% for row in catecories %}
                                <tr id="{{row}}">
                                    <td>{{row}} (<a href="javascript:checkdelcate('{{row}}')" style="color:red;">删除</a>)</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </table>
            </div>
            {% endif %}
            <div class="tab-pane" id="settings">
                <table id="editinfo" class="table table-hover">
                    <tbody>
                        <tr>
                            <td>标题:</td>
                            <td>
                                <input type="text" class="form-control" id="title" placeholder="" value="{{pinfo.0}}">
                            </td>
                        </tr>
                        <tr>
                            <td>作者:</td>
                            <td>
                                <input type="text" class="form-control" id="author" placeholder="" value="{{pinfo.1}}">
                            </td>
                        </tr>
                        <tr>
                            <td>时间:</td>
                            <td>
                                <input type="text" class="form-control" id="time" placeholder="" value="{{pinfo.2}}">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a href="javascript:editinfo();" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="">
                                    提交</a>
                                {% if type == 'drafts' %}
                                <a href="javascript:publish();" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="">
                                    发布</a>
                                {% endif %}
                                {% if type == 'published' %}
                                <a href="javascript:unpublish();" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="">
                                    撤回</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{%csrf_token %}
<script>
    var Editor;
    var ischeck = true;
    var oldValue = '';

    Editor = editormd("editormd", {
        width: "90%",
        height: 640,
        syncScrolling: "single",
        path: "{{staticurl}}/hexo/editor.md/lib/",
        onchange: function () {
            if (ischeck == true) {
                onmdchange();
            }
        },
        onload: function () {
            oldValue = this.getValue();
        }
    });

    function onmdchange() {
        window.setInterval('checkInput();', 2000);
        ischeck = false;
    }

    function checkInput() {
        var newValue = Editor.getValue();
        if (newValue != oldValue) {
            updatepost();
        }
        oldValue = newValue;
    }

    function updatepost() {
        var value = Editor.getValue();
        var fid = '{{fid}}';
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.post("{% url 'ajax_blog_content' %}?type={{type}}",
            {
                fid: fid,
                value: encodeURI(value),
                csrfmiddlewaretoken: csrf
            },
            function (data, status) {
                if (data == 'success') {
                }
                else {
                    console.log(decodeURI(data));
                };
            }
        );
    }

    function editinfo() {
        var fid = '{{fid}}';
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.post("{% url 'ajax_blog_info' %}?type={{type}}",
            {
                fid: fid,
                title: encodeURI($('#title').val()),
                author: encodeURI($('#author').val()),
                time: encodeURI($('#time').val()),
                csrfmiddlewaretoken: csrf
            },
            function (data, status) {
                if (data == 'success') {
                    ShowMessage('修改成功！');
                    $('#ptitle').html($('#title').val());
                }
                else {
                    ShowMessage('修改失败！')
                    console.log(decodeURI(data));
                };
            }
        );
    }
    {% if type == 'drafts' %}
    function publish() {
        var fid = '{{fid}}';
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.post("{% url 'ajax_blog_publish' %}",
            {
                fid: fid,
                csrfmiddlewaretoken: csrf
            },
            function (data, status) {
                if (data == 'success') {
                    ShowMessage('发布成功！');
                    window.location.href = '{{blog_detail}}?id='+fid+'&type=published';
                }
                else {
                    ShowMessage('发布失败！')
                    console.log(decodeURI(data));
                };
            }
        );
    }
    {% endif %}

    {% if type == 'published' %}
    function unpublish() {
        var fid = '{{fid}}';
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.post("{% url 'ajax_blog_unpublish' %}",
            {
                fid: fid,
                csrfmiddlewaretoken: csrf
            },
            function (data, status) {
                if (data == 'success') {
                    ShowMessage('撤回成功！');
                    window.location.href = '{{blog_detail}}?id='+fid+'&type=drafts';
                }
                else {
                    ShowMessage('撤回失败！')
                    console.log(decodeURI(data));
                };
            }
        );
    }
    {% endif %}

    {% if type == 'published' or type == 'drafts' %}
    function showaddtag() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            closeBtn: 1, //显示关闭按钮
            anim: 2,
            title:'添加标签',
            area:"40%",
            shadeClose: true, //开启遮罩关闭
            content: '<input class="form-control" type="text" id="tagname" style="width:100%" placeholder="请输入标签名称"><input type="button" class="btn btn-primary btn-block btn-flat" onclick="addtag()" value="添加" />'
        });
    }

    function addtag(){
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        tagname = $('#tagname').val();
        $.post("{% url 'ajax_blog_tag_add' %}",
            {
                tagname: encodeURI(tagname),
                fid: '{{fid}}',
                type: '{{type}}',
                csrfmiddlewaretoken: csrf
            },
            function (data, status) {
                if (data == 'success') {
                    ShowMessage('添加成功！');
                    //window.location.href = '';
                    var tr = '<tr id="'+tagname+'"><td>'+tagname+' (<a href="javascript:checkdeltag(\''+tagname+'\')" style="color:red;">删除</a>)</td></tr>';
                    $("#alltag").append(tr);
                    layer.closeAll();
                }
                else {
                    ShowMessage('添加失败！');
                    console.log(decodeURI(data));
                };
            }
        );
    }

    function checkdeltag(tagname){
        if (confirm("您确定删除'" + tagname + "'吗？此操作不可恢复请谨慎操作") == true) {
            deltag(tagname);
        };
    }

    function deltag(tagname){
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.post("{% url 'ajax_blog_tag_del' %}",
            {
                tagname: encodeURI(tagname),
                fid: '{{fid}}',
                type: '{{type}}',
                csrfmiddlewaretoken: csrf
            },
            function (data, status) {
                if (data == 'success') {
                    ShowMessage('删除成功！');
                    //window.location.href = '';
                    $('#'+tagname).remove();
                }
                else {
                    ShowMessage('删除失败！');
                    console.log(decodeURI(data));
                };
            }
        );
    }

    function showaddcate() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            closeBtn: 1, //显示关闭按钮
            anim: 2,
            title:'添加分类',
            area:"40%",
            shadeClose: true, //开启遮罩关闭
            content: '<input class="form-control" type="text" id="catename" style="width:100%" placeholder="请输入分类名称"><input type="button" class="btn btn-primary btn-block btn-flat" onclick="addcate()" value="添加" />'
        });
    }

    function addcate(){
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        var catename = $('#catename').val();
        $.post("{% url 'ajax_blog_cate_add' %}",
            {
                catename: encodeURI(catename),
                fid: '{{fid}}',
                type: '{{type}}',
                csrfmiddlewaretoken: csrf
            },
            function (data, status) {
                if (data == 'success') {
                    ShowMessage('添加成功！');
                    //window.location.href = '';
                    var tr = '<tr id="'+catename+'"><td>'+catename+' (<a href="javascript:checkdelcate(\''+catename+'\')" style="color:red;">删除</a>)</td></tr>';
                    $("#allcate").append(tr);
                    layer.closeAll();
                }
                else {
                    ShowMessage('添加失败！');
                    console.log(decodeURI(data));
                };
            }
        );
    }

    function checkdelcate(catename){
        if (confirm("您确定删除'" + catename + "'吗？此操作不可恢复请谨慎操作") == true) {
            delcate(catename);
        };
    }

    function delcate(catename){
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.post("{% url 'ajax_blog_cate_del' %}",
            {
                catename: encodeURI(catename),
                fid: '{{fid}}',
                type: '{{type}}',
                csrfmiddlewaretoken: csrf
            },
            function (data, status) {
                if (data == 'success') {
                    ShowMessage('删除成功！');
                    //window.location.href = '';
                    $('#'+catename).remove();
                }
                else {
                    ShowMessage('删除失败！');
                    console.log(decodeURI(data));
                };
            }
        );
    }

    {% endif %}

</script> {% endblock %}