{% extends "app/layout.html" %} {% block content %}
<input type="text" class="form-control" id="username" placeholder="请输入用户名" value="">
<input type="password" class="form-control" id="password" placeholder="请输入密码" value="">
<a href="javascript:dologin();" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="">提交</a>
{%csrf_token %}
<script>
    function dologin(fid) {
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.post("{% url 'ajax_login' %}",
            {
                username: encodeURI($('#username').val()),
                password: encodeURI($('#password').val()),
                csrfmiddlewaretoken: csrf
            },
            function (data, status) {
                if (data == 'success') {
                    ShowMessage('成功！');
                    window.location.href = '/';
                }
                else {
                    ShowMessage('失败！');
                    console.log(decodeURI(data));
                };
            }
        );

    }

</script> {% endblock %}