<script>
    function delAllCookie(){    
        var myDate=new Date();    
        myDate.setTime(-1000);
        var data=document.cookie;    
        var dataArray=data.split("; ");    
        for(var i=0;i<dataArray.length;i++){    
             var varName=dataArray[i].split("=");    
             document.cookie=varName[0]+"=''; expires="+myDate.toGMTString();    
        }    
    }
    delAllCookie();
    window.location.href = '{{authurl}}/Auth/Login?act=LogOut&callService=i';
</script>
